doctype html
html(lang="en")
	-var pageTitl = "少女指数测试"
	-var pageDisc = "少女指数测试｜少女哪吒｜拇指阅读"
	-var pageKeyw = "少女, 指数, 测试, 少女哪吒, 电影, 微信, 微信公众号, 朋友圈, 拇指阅读, MZRead, WeChat"
	include _head.jade

	body
		.load-screen
			.load-widget
				include dashinfinity.svg
				p 少女指数测试机正在启动

		.wechat-thumb(style="display:none")
			//img(src="assets/wechat-thumb.jpg")
			img(src="http://s3.amazonaws.com/artspan-fs/member_files/nmistry/Adirondack_Fall.JPG")

		.hero-wrap
			.tearpaper-lower
				img(src="assets/tearpaper-lower.png")
	
			figure.hero-image
				img(src="assets/hero-cover.jpg").cover
				img(src="assets/hero-q1.jpg").quest-1
				img(src="assets/hero-q2.jpg").quest-2
				img(src="assets/hero-q3.jpg").quest-3
				img(src="assets/hero-q4.jpg").quest-4
				img(src="assets/hero-q5.jpg").quest-5
				img(src="assets/hero-q6.jpg").quest-6
				img(src="assets/hero-q7.jpg").quest-7
				img(src="assets/hero-q8.jpg").quest-8
				img(src="assets/hero-r1.jpg").result-1
				img(src="assets/hero-r2.jpg").result-2
				img(src="assets/hero-r3.jpg").result-3
				img(src="assets/hero-r4.jpg").result-4

		.main-wrap
			.copy-wrap
				.copy
				.gift-widget(style="display:none")
					a(href="test-target.html").gift-btn
					p.gift-label 少女指数有点低哦，<br>赶紧领个红包恢复下你的少女风采吧！

		.foot-wrap
			button.start-btn(style="display:none")
			button.opt-btn.opt-1(style="display:none", data-opt="1")
			button.opt-btn.opt-2(style="display:none", data-opt="2")
			button.opt-btn.opt-3(style="display:none", data-opt="3")
			button.opt-btn.opt-4(style="display:none", data-opt="4")
			button.opt-btn.opt-5(style="display:none", data-opt="5")
			footer.result(style="display:none")
				a.logo-nezha(href="http://mzread.com")
				a.logo-mzread(href="http://mzread.com")
				a.share-btn(href="javascript:void(0)")
					span 分享到<br>朋友圈
					i

		.modal-wrap
			div.share-guide
				button 分享到朋友圈

	script(type="text/javascript" src="assets/app.js")
