doctype html
html(lang="en")
	-var pageTitl = "少女指数测试"
	-var pageDisc = "少女指数测试｜少女哪吒｜拇指阅读"
	-var pageKeyw = "少女, 指数, 测试, 少女哪吒, 电影, 微信, 微信公众号, 朋友圈, 拇指阅读, MZRead, WeChat"
	include _head.jade
	
	body
		.hero-wrap
			figure.hero-image
				img(src="assets/hero-q1.jpg")
			.tearpaper-lower
				img(src="assets/tearpaper-lower.png")
		
		.main-wrap
			.question.quest-0
		
		.optn-wrap
			button.opt-btn.opt-0 aaa
			button.opt-btn.opt-1
			button.opt-btn.opt-2
			button.opt-btn.opt-3
			button.opt-btn.opt-4

	script(type="text/javascript" src="assets/app.js")
