/* Sticky footer */
.main-wrap {
	min-height: 100%;
	margin-bottom: (-80em/16);
	
	&:after {
		content: "";
		display: block;
		height: (80em/16);
	}
}

.copy-wrap {
	position: relative;
	min-height: 100%;
	
	padding-top: 65.625vw;
	@media (min-height: 560px) {
		padding-top: 70vw;
	}
	@media (min-height: 670px) {
		padding-top: 75vw;
	}
	
	padding-left: 1em;
	padding-right: 1em;
	@media (min-width: 350px) {
		padding-left: 1.5em;
		padding-right: 1.5em;	
	}
	@media (min-width: 380px) {
		padding-top: 75vw;
		padding-left: 2em;
		padding-right: 2em;	
	}
	
	.copy {
		position: relative;
		width: (288em/16);
		height: (200em/16);
		/* Hack for MQQBrowser: reduce the size of single sprite. */
		background-image: url(cover-copy-sprit@2x.png), url(quest-copy-sprit@2x.png);
		background-size: (5184em/2/16) (400em/2/16), (4608em/2/16) (400em/2/16);
		/* Hack for MQQBrowser END */
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .75s ease-in-out, background-position 0s linear .75s;
				
		&.active {
			opacity: 1;
			transition: opacity 1s ease-in-out;
		}
	}
	
	/* Centering the result copy */
	.result-1,
	.result-2,
	.result-3,
	.result-4 {
		&.active { margin: 0 auto; }
	}
	
	/* Spite positioning */
	.cover {background-position: (-288em/16*0) 0, (288em/16*1) 0; }
	.cover-1 { background-position: (-288em/16*5) 0, (288em/16*1) 0; }
	.cover-2 { background-position: (-288em/16*6) 0, (288em/16*1) 0; }
	.cover-3 { background-position: (-288em/16*7) 0, (288em/16*1) 0; }
	.cover-4 { background-position: (-288em/16*8) 0, (288em/16*1) 0; }	
	.result-1 { background-position: (-288em/16*1) 0, (288em/16*1) 0; }
	.result-2 { background-position: (-288em/16*2) 0, (288em/16*1) 0; }
	.result-3 { background-position: (-288em/16*3) 0, (288em/16*1) 0; }
	.result-4 { background-position: (-288em/16*4) 0, (288em/16*1) 0; }
	.quest-1 { background-position: (288em/16*1) 0, (-288em/16*0) 0; }
	.quest-2 { background-position: (288em/16*1) 0, (-288em/16*1) 0; }
	.quest-3 { background-position: (288em/16*1) 0, (-288em/16*2) 0; }
	.quest-4 { background-position: (288em/16*1) 0, (-288em/16*3) 0; }
	.quest-5 { background-position: (288em/16*1) 0, (-288em/16*4) 0; }
	.quest-6 { background-position: (288em/16*1) 0, (-288em/16*5) 0; }
	.quest-7 { background-position: (288em/16*1) 0, (-288em/16*6) 0; }
	.quest-8 { background-position: (288em/16*1) 0, (-288em/16*7) 0; }
	
	/* Gift widget */
	.gift-widget {
		position: absolute;
		left: 0;
		top: 65.625vw;
		@media (min-width: 350px) { top: 70vw; }
		@media (min-width: 380px) { top: 75vw; }
		padding-top: (112em/16);
		width: 100%;
		height: (68em/16);
		text-align: center;
		line-height: 1;
		user-select: none;
		
		.gift-btn {
			display: inline-block;
			width: (48em/16);
			height: (48em/16);
			vertical-align: top;
			line-height: (48em/16);
			background-image: url(btn-sprite@2x.png);
			background-size: (864em/2/16) (96em/2/16);
			background-repeat: no-repeat;
			background-position: (-48em/16*6) 0;
			transform: scale3d(0, 0, 1);
		}
		
		.gift-label {
			margin-top: .6em;
			color: @text-main;
			font-size: (10em/16);
			line-height: 1.4;
			opacity: 0;
		}
		
		&.active {
			.gift-btn {
				transform: scale3d(1, 1, 1);
				transition: transform 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
				
				&.pressing {
					transform: scale3d(1.15, 1.15, 1);
					transition: transform .2s ease-out;
				}
			}
			
			.gift-label {
				opacity: 1;
				transition: opacity .2s ease-in-out 1s;
			}
		}
	}
	
	/* Share widget */
//	.share-widget {
//		position: absolute;
//		left: 0;
//		top: 65.625vw;
//		@media (min-width: 350px) { top: 70vw; }
//		@media (min-width: 380px) { top: 75vw; }
//		padding-top: (112em/16);
//		width: 100%;
//		height: (68em/16);
//		text-align: center;
//		line-height: 1;
//		user-select: none;
//		
//		.share-btn {
//			width: (48em/16);
//			height: (48em/16);
//			vertical-align: top;
//			line-height: (48em/16);
//			background-image: url(btn-sprite@2x.png);
//			background-size: (864em/2/16) (96em/2/16);
//			background-repeat: no-repeat;
//			background-position: (-48em/16*6) 0;
//			transform: scale3d(0, 0, 1);
//		}
//		
//		.share-label {
//			margin-top: 1em;
//			color: @theme;
//			font-size: (10em/16);
//			opacity: 0;
//		}
//		
//		&.active {
//			.share-btn {
//				transform: scale3d(1, 1, 1);
//				transition: transform 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
//				
//				&.pressing {
//					transform: scale3d(1.15, 1.15, 1);
//					transition: transform .2s ease-out;
//				}
//			}
//			
//			.share-label {
//				opacity: 1;
//				transition: opacity .2s ease-in-out 1s;
//			}
//		}
//	}
}
