.main-wrap {
	min-height: 100%;
	margin-bottom: (-80em/16);
	&:after {
		content: "";
		display: block;
		height: (80em/16);
	}
}

.copy-wrap {
	position: relative;
	min-height: 100%;
	padding-top: 65.625vw;
	@media (min-height: 568px) {
		padding-top: 70vw;
	}
	@media (min-height: 672px) {
		padding-top: 75vw;
	}
	padding-left: 1em;
	padding-right: 1em;
	@media (min-width: 350px) {
//		padding-top: 70vw;
		padding-left: 1.5em;
		padding-right: 1.5em;	
	}
	@media (min-width: 380px) {
//		padding-top: 75vw;
		padding-left: 2em;
		padding-right: 2em;	
	}
	
	.copy {
		position: relative;
		width: (288em/16);
		height: (200em/16);
		background-image: url(copy-sprit@2x.png);
		background-size: (4608em/2/16) (800em/2/16);
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .75s ease-in-out, background-position 0s linear .75s;
				
		&.active {
			opacity: 1;
			transition: opacity 1s ease-in-out;
		}
	}
	
	/* Centering the result copies */
	.result-1,
	.result-2,
	.result-3,
	.resutl-4 {
		&.active { margin: 0 auto; }
	}
	
	/* Spite positioning */
	.cover { background-position: 0 0; }
	.quest-1 { background-position: (-288em/16*0) (-200em/16); }
	.quest-2 { background-position: (-288em/16*1) (-200em/16); }
	.quest-3 { background-position: (-288em/16*2) (-200em/16); }
	.quest-4 { background-position: (-288em/16*3) (-200em/16); }
	.quest-5 { background-position: (-288em/16*4) (-200em/16); }
	.quest-6 { background-position: (-288em/16*5) (-200em/16); }
	.quest-7 { background-position: (-288em/16*6) (-200em/16); }
	.quest-8 { background-position: (-288em/16*7) (-200em/16); }
	.result-1 { background-position: (-288em/16*1) 0; }
	.result-2 { background-position: (-288em/16*2) 0; }
	.result-3 { background-position: (-288em/16*3) 0; }
	.result-4 { background-position: (-288em/16*4) 0; }
	
	/* Share widget */
	.share-widget {
		position: absolute;
		left: 0;
		top: 65.625vw;
		@media (min-width: 350px) { top: 70vw; }
		@media (min-width: 380px) { top: 75vw; }
		padding-top: (112em/16);
		width: 100%;
		height: (68em/16);
		text-align: center;
		line-height: 1;
		user-select: none;
		
		.share-btn {
			width: (48em/16);
			height: (48em/16);
			vertical-align: top;
			line-height: (48em/16);
			background-image: url(btn-sprite@2x.png);
			background-size: (672em/2/16) (96em/2/16);
			background-repeat: no-repeat;
			background-position: (-48em/16*6) 0;
			transform: scale3d(0, 0, 1);
		}
		
		.share-label {
			margin-top: 1em;
			color: @theme;
			font-size: (10em/16);
			opacity: 0;
		}
		
		&.active {
			.share-btn {
				transform: scale3d(1, 1, 1);
				transition: transform 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
				
				&.pressing {
					transform: scale3d(1.15, 1.15, 1);
					transition: transform .2s ease-out;
				}
			}
			
			.share-label {
				opacity: 1;
				transition: opacity .2s ease-in-out 1s;
			}
		}
	}
}
